Repository bennycode/ts-node-starter: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write --log-level error {staged_files}

lint:
  run: npx eslint {staged_files} --fix

skipped test
  src/Money.test.ts
Due: lint

sayHello
  src/sayHello.test.ts
Due: lint

npm init stryker
  package.json
  src/checkFor.ts
  stryker.config.json
Due: format, lint

easier stryker example
  package.json
  src/Money.test.ts
  src/Money.ts
  src/Payment.ts
  src/PaymentAuth.test.ts
  src/PaymentAuth.ts
  src/User.ts
  src/add.test.ts
  src/add.ts
  src/checkFor.test.ts
  src/checkFor.ts
  src/printArray.test.ts
  src/printArray.ts
  src/start.ts
  stryker.config.json
  stryker.pdf
Due: format, lint

easier stryker example
  stryker.config.json
Due: format

fix: Clean TSIMP cache
  package-lock.json
  package.json
Due: format

chore: Update Vitest
  package.json
Due: format

feat: Add GitHub Sponsor Page
  .github/FUNDING.yml
Due: format

docs: Add GitHub Tip
  README.md
Due: format

docs: Update setup steps
  README.md
  package-lock.json
  package.json
Due: format

fix: Improve compatibility with WSL
  .vscode/settings.json
Due: format

fix dist paths
  package.json
Due: format

fix: Add workflow permissions for releases
  .github/workflows/create-release.yml
Due: format

fix: Reset Git after release
  package.json
Due: format

feat: Type check config files
  package-lock.json
  package.json
  tsconfig.check.json
  tsconfig.json
Due: format

feat: Type check config files
  tsconfig.json
Due: format

update paths
  package.json
Due: format

fix Conflicting peer dependency
  package-lock.json
Due: format

update typedoc
  package-lock.json
  package.json
Due: format

feat: Type check config files (#669)
  package-lock.json
  package.json
  tsconfig.check.json
  tsconfig.json
Due: format

feat: Add type testing for module resolution
  README.md
  package-lock.json
  package.json
Due: format

feat: Add type testing for module resolution (#671)
  README.md
  package-lock.json
  package.json
Due: format

fix: Always delete tsimp cache
  package.json
Due: format

chore: npm update --save
  package-lock.json
  package.json
Due: format

fix: Keep PDFs binary
  .gitattributes
Due: none

fix: Replace tsimp with ts-node
  package-lock.json
  package.json
  src/start.ts
Due: format, lint

fix: Replace tsimp with ts-node
  .gitignore
Due: none

simplify index script
  src/start.ts
Due: lint

fix: Replace tsimp with ts-node (#679)
  .gitignore
  package-lock.json
  package.json
  src/start.ts
Due: format, lint

feat: Use ts-node just for transpiling
  tsconfig.json
Due: format

refactor: Use ts-node/esm/transpile-only
  package.json
  tsconfig.json
Due: format

refactor: Use ts-node/esm/transpile-only
  tsconfig.json
Due: format

feat: Add coverage thresholds
  package-lock.json
  package.json
  vitest.config.ts
Due: format, lint

test: Fail test run after first error
  vitest.config.ts
Due: lint

use pnpm instead
  package-lock.json
  package.json
  pnpm-lock.yaml
Due: format

remove FUNDING
  .github/FUNDING.yml
Due: format

npm -> pnpm
  package.json
Due: format

self-contain
  .github/workflows/run-tests.yml
  package.json
Due: format

fix: Allow Vitest to process the "accessor" keyword
  package-lock.json
  package.json
  vitest.config.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
