Repository bennycode/ts-node-starter: changes, and which lefthook commands are due for each by the changed paths.
All: config, code

lefthook.yml:

pre-commit:
  parallel: true
  commands:
    config:
      glob: '*.{md,yaml,yml,css,scss,less,html,json}'
      run: npx prettier --write --loglevel error {staged_files}
    code:
      glob: '*.{js,jsx,ts,tsx}'
      run: npx eslint {staged_files} --fix

test hook
  README.md
  lefthook.yml
Due: config

pretty
  README.md
  lefthook.yml
Due: config

json formatting
  .eslintrc.json
  lefthook.yml
Due: config

lint
  .eslintrc.json
Due: config

test yml catch
  codecov.yml
  lefthook.yml
Due: config

test yml
  codecov.yml
  lefthook.yml
Due: config

test yml
  codecov.yml
Due: config

remove pretty-quick
  package-lock.json
  package.json
Due: config

format & lint
  lefthook.yml
Due: config

refactor: Replace pretty-quick with Prettier 3.0 (#601)
  lefthook.yml
  package-lock.json
  package.json
Due: config

docs: Replaced pretty-quick with Prettier 3
  README.md
Due: config

refactor: Replaced Jest with Vitest
  README.md
  jest.config.json
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/cli.test.ts
  src/cli.ts
  src/sayHello.test.ts
  src/sayHello.ts
  tsconfig.json
  vitest.config.ts
Due: config, code

refactor: Replaced Jest with Vitest
  package-lock.json
  package.json
  vitest.config.ts
Due: config, code

update sections
  README.md
Due: config

formatting
  vitest.config.ts
Due: code

refactor: Replaced Jest with Vitest (#602)
  README.md
  jest.config.json
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/cli.test.ts
  src/cli.ts
  src/sayHello.test.ts
  src/sayHello.ts
  tsconfig.json
  vitest.config.ts
Due: config, code

docs: Replaced Jest with Vitest
  README.md
Due: config

feat!: Switch to EcmaScript modules (ESM)
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/cli.ts
  src/index.ts
  src/sayHello.test.ts
Due: config, code

feat!: Switch to EcmaScript modules (ESM) (#603)
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/cli.ts
  src/index.ts
  src/sayHello.test.ts
Due: config, code

docs: Switch to EcmaScript Modules (ESM)
  README.md
Due: config

chore: Allow updating to Prettier 3
  .github/dependabot.yml
Due: config

fix: Update deprecated Prettier option
  package.json
Due: config

chore: Allow Prettier to run with 4 GB memory
  lefthook.yml
Due: config

chore: Make Prettier with lefthook run on native Windows
  lefthook.yml
  package-lock.json
  package.json
Due: config

chore: Update to lockfile version 3 (used by npm v9)
  package-lock.json
Due: config

fix: Use ts-node-esm for ES modules
  package.json
  src/start.ts
Due: config, code

chore: Showcase filename & dirname
  src/start.ts
Due: code

fix build script
  package.json
Due: config

fix: use npm install
  package.json
Due: config

fix release scripts
  package.json
  vitest.config.ts
Due: config, code

fix: update link to CLI script
  package-lock.json
  package.json
Due: config

fix: Don't publish vitest config
  package.json
Due: config

chore: Remove engines field
  package.json
Due: config

chore: Remove nyc output
  package.json
Due: config

refactor: Use Vitest globals
  .eslintrc.json
  package.json
  src/MyClass.test.ts
  src/sayHello.test.ts
  tsconfig.json
  vitest.config.ts
Due: config, code

refactor: Use Vitest globals
  .eslintrc.json
Due: config

refactor: Use Vitest globals (#622)
  .eslintrc.json
  package.json
  src/MyClass.test.ts
  src/sayHello.test.ts
  tsconfig.json
  vitest.config.ts
Due: config, code

docs: Use Vitest Globals
  README.md
Due: config

chore: Update packages
  package-lock.json
Due: config

feat: Add docs generation
  README.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/MyClass.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
Due: config, code
