Repository bennycode/ts-node-starter: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write --log-level error {staged_files}

lint:
  run: npx eslint {staged_files} --fix

feat: Add dependency-cruiser
  .dependency-cruiser.cjs
  package-lock.json
  package.json
Due: format

docs: Dependency violation reports
  README.md
Due: format

feat: Add dependency-cruiser (#709)
  .dependency-cruiser.cjs
  README.md
  package-lock.json
  package.json
Due: format

chore: Update dependencies
  package-lock.json
  package.json
Due: format

testing
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/MyClass.ts
  src/cli.ts
  src/index.ts
  src/main.ts
  src/sayHello.test.ts
  src/sayHello.ts
  src/start.ts
Due: format, lint

refactor: Move to ESLint v9
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: format

refactor: Move to ESLint v9
  tsconfig.json
Due: format

refactor: Migrate to ESLint v9 (#727)
  .eslintrc.json
  eslint.config.mjs
  package-lock.json
  package.json
  tsconfig.json
Due: format

chore: Automatically call git add after linting
  .dependency-cruiser.cjs
  lefthook.yml
Due: format

chore: Testing formatting
  .dependency-cruiser.cjs
  lefthook.yml
  package-lock.json
  package.json
Due: format

chore: Testing formatting
  .dependency-cruiser.cjs
  lefthook.yml
Due: format

add examples
  README.md
  dev-database.db3
  eslint.config.mjs
  lefthook.yml
  migrations/20250325121242_create_users.js
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/MyClass.ts
  src/cli.ts
  src/index.ts
  src/knexfile.js
  src/param.ts
  src/sayHello.test.ts
  src/sayHello.ts
  src/start.ts
  src/zod.ts
  tsconfig.json
Due: format, lint

fix: Bring back globs
  lefthook.yml
Due: format

test: Adjust Vitest to only run on *.test files
  src/sayHello.test.mts
  vitest.config.ts
Due: lint

refactor: Adjust ESLint config
  eslint.config.mjs
Due: none

refactor: Simplify file matching
  package.json
  vitest.config.ts
Due: format, lint

feat: Add sample Express.js app
  package-lock.json
  package.json
  src/start.ts
Due: format, lint

update text
  src/start.ts
Due: lint

add debug config
  .gitignore
  package.json
Due: format

modernize a bit
  .eslintrc.json
  .github/dependabot.yml
  .github/labeler.yml
  .github/release.yml
  .github/workflows/ci.yml
  .github/workflows/create-release.yml
  .github/workflows/generate-labels.yml
  .github/workflows/merge-dependencies.yml
  .github/workflows/run-tests.yml
  .gitignore
  .prettierrc.json
  .releaserc.json
  CLAUDE.md
  bun.lock
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/MyClass.html
  docs/index.html
  docs/modules.html
  eslint.config.js
  lefthook.yml
  package.json
  pnpm-lock.yaml
  prettier.config.mjs
  src/MyClass.test.ts
  src/MyClass.ts
  src/cli.ts
  src/index.ts
  src/sayHello.test.ts
  src/sayHello.ts
  tsconfig.check.json
  tsconfig.json
  tsup.config.ts
  vitest.config.ts
Due: format, lint

refactor: Remove Windows compatibility by removing rimraf
  package-lock.json
  package.json
Due: format

refactor: Remove TypeDoc
  README.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/MyClass.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
Due: format, lint

refactor: Remove ESLint, Prettier, and lefthook
  .prettierrc.json
  README.md
  eslint.config.mjs
  lefthook.yml
  package.json
Due: format

refactor: Use Biome
  biome.json
  package-lock.json
  package.json
Due: format

docs: Update link
  README.md
Due: format

refactor: Use default registry
  .npmrc
Due: none

refactor: Remove Codecov
  README.md
  codecov.yml
Due: format

refactor: Replaced ts-node with tsx
  package-lock.json
  package.json
Due: format

chore: Update Vitest
  package-lock.json
  package.json
Due: format

chore: Update transitive dependencies
  package-lock.json
  package.json
Due: format

fix: Add Node.js types
  tsconfig.json
Due: format

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
