Repository bennycode/ts-node-starter: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: npx prettier --write --log-level error {staged_files}

lint:
  run: npx eslint {staged_files} --fix

docs: updated CHANGELOG.md
  CHANGELOG.md
Due: format

docs: Generated public docs
  docs/classes/MyClass.html
  docs/index.html
Due: format

docs: Generated public docs
  docs/classes/MyClass.html
Due: format

fix clean working dir
  package.json
Due: format

ignore docs
  .eslintrc.json
Due: format

chore: Generated release files
  CHANGELOG.md
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/MyClass.html
  docs/index.html
  docs/modules.html
Due: format, lint

0.1.0
  package-lock.json
  package.json
Due: format

chore: Generated release files
  CHANGELOG.md
  docs/classes/MyClass.html
Due: format

0.2.0
  package-lock.json
  package.json
Due: format

test
  CHANGELOG.md
Due: format

0.3.0
  package-lock.json
  package.json
Due: format

feat: Add source code documentation
  .eslintrc.json
  CHANGELOG.md
  README.md
  docs/.nojekyll
  docs/assets/highlight.css
  docs/assets/main.js
  docs/assets/navigation.js
  docs/assets/search.js
  docs/assets/style.css
  docs/classes/MyClass.html
  docs/index.html
  docs/modules.html
  package-lock.json
  package.json
Due: format, lint

docs: Mention documentation generation
  README.md
Due: format

feat: Upgrade to Node.js v20
  .github/dependabot.yml
  package-lock.json
  package.json
Due: format

no experimental warnings
  package.json
Due: format

feat: Upgrade to Node.js v20 (#628)
  .github/dependabot.yml
  package-lock.json
  package.json
Due: format

docs: lefthook's aggressive flag has been deprecated
  README.md
Due: format

refactor: Replaced ts-node with tsimp
  .gitignore
  package-lock.json
  package.json
Due: format

refactor: Replaced ts-node with tsimp (#639)
  .gitignore
  package-lock.json
  package.json
Due: format

docs: Replaced ts-node with tsimp
  README.md
Due: format

refactor: Use newer Vitest arguments
  package-lock.json
  package.json
  tsconfig.json
  vitest.config.ts
Due: format, lint

feat: Automatically add GitHub labels
  .github/labeler.yml
  .github/workflows/generate-labels.yml
Due: format

feat: Automatically add GitHub labels (#665)
  .github/labeler.yml
  .github/workflows/generate-labels.yml
Due: format

feat: Exclude docs directory from search in VS Code
  .vscode/settings.json
Due: format

docs: Add update instructions
  README.md
  package-lock.json
  package.json
Due: format

chore: Recommend Vitest & Prettier extension
  .vscode/extensions.json
Due: format

chore: Don't ignore VS Code extension recommendations
  .gitignore
Due: none

chore: Recommend ESLint
  .vscode/extensions.json
Due: format

chore: Name it "release:revert"
  package.json
Due: format

initial test
  src/Money.ts
  src/Payment.ts
  src/User.ts
  src/checkFor.test.ts
  src/checkFor.ts
Due: lint

initial test
  src/Payment.ts
  src/User.ts
  src/checkFor.test.ts
  src/checkFor.ts
Due: lint

add payment tests
  src/PaymentAuth.ts
  src/User.ts
  src/checkFor.test.ts
  src/checkFor.ts
Due: lint

add payment tests
  src/PaymentAuth.ts
  src/checkFor.ts
Due: lint

100% CC
  src/Money.ts
  src/checkFor.test.ts
  src/checkFor.ts
Due: lint

100% CC
  src/Money.ts
Due: lint

sayHello.ts
  .gitignore
  package-lock.json
  package.json
  src/MyClass.test.ts
  src/MyClass.ts
  src/PaymentAuth.test.ts
  src/cli.ts
  src/index.ts
  src/sayHello.test.ts
  src/sayHello.ts
  stryker.config.json
Due: format, lint

sayHello.ts
  stryker.config.json
Due: format

npm run test:mutants
  package.json
  src/sayHello.test.ts
Due: format, lint

Path conditions:
  format: any of: *.{css,html,json,less,md,scss,yml}
  lint: any of: *.{js,jsx,ts,tsx}
